<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>User details</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> Name: <%=user.name%>
      <br> City: <%=user.city %>
      <br> State: <%=user.state %>
      <br> Country: <%=user.country %>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>